<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2024-2026 OpenAni and contributors.
  ~
  ~ 此源代码的使用受 GNU AFFERO GENERAL PUBLIC LICENSE version 3 许可证的约束, 可以在以下链接找到该许可证.
  ~ Use of this source code is governed by the GNU AGPLv3 license, which can be found at the following link.
  ~
  ~ https://github.com/open-ani/ani/blob/main/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"
            tools:ignore="ScopedStorage" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                    android:mimeType="application/vnd.android.package-archive"
                    android:scheme="content" />
        </intent>
    </queries>

    <application
            android:name="AniApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:usesCleartextTraffic="true">

        <activity
                android:name=".activity.MainActivity"
                android:exported="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="bangumi-oauth-callback"
                        android:scheme="ani" />
            </intent-filter>

            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="subjects"
                        android:scheme="ani" />
            </intent-filter>
        </activity>

        <service
                android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
                android:enabled="false"
                android:exported="false">
            <meta-data
                    android:name="autoStoreLocales"
                    android:value="true" />
        </service>

        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false">
            <meta-data
                    android:name='androidx.lifecycle.ProcessLifecycleInitializer'
                    android:value='androidx.startup' />
        </provider>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <service
                android:name="me.him188.ani.app.domain.torrent.service.AniTorrentServiceApi34"
                android:description="@string/service_torrent_engine_description"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="mediaPlayback"
                android:process=":torrent_service"
                tools:targetApi="34" />

        <service
                android:name="me.him188.ani.app.domain.torrent.service.AniTorrentServiceApiDefault"
                android:description="@string/service_torrent_engine_description"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="dataSync"
                android:process=":torrent_service" />

    </application>
</manifest>
